body{
	font-family:arial;
	margin:0;
}
h1,h3{
	color:#555;
	margin:0;
}
a{
	color:white;
	margin:0;
}
p{
	background:#666;
	color:white;
	margin:0;
}
.secondary{
	background: none;
	color:#777;
	margin:0;
}
#nav{
	background: none;
	color:#777;
	margin:0;
}

a:hover
{
    color: pink;
}
header{
	margin:0;
	background:#999;
	color:white;
	padding: 15px 15px 0 15px;
}
header h1{
	display:inline;
	margin:0;
}
nav ul{
	margin: 0;
	display:inline;
}
nav ul li{
	background:black;
	display: inline-block;
	list-style-type:none;
	padding: 5px 15px; 
	margin:0;
}
.row{
	
}
.col{
	background:#999;
	border-radius: 10px;
	padding: 10px .5%;
	float: left;
	margin: 0.5%;
	width: 31%;
}
footer{
	clear: both;
}
