body button {
   width: 5px;
   height: 5px;
   border-style: solid;
   border-width: 15px 5px 15px 20px;
   border-color: transparent transparent transparent #555555;
   display: inline-block;
   margin: 0 0 0 0px;
}
img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#e7e7e7;


}
p1 {
   float: left;
}
p2 {
   float: right;
}
 
